<p id="notice"><%= notice %></p>

<h1><%= @list.title %> Bulletins</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bulletins.each do |bulletin| %>
      <tr>
        <td><%= link_to bulletin.title, admin_list_bulletin_posts_path(@list, bulletin) %></td>
        <td><%= bulletin.description %></td>
        <td><%= link_to 'Show', admin_list_bulletin_path(@list, bulletin) %></td>
        <td><%= link_to 'Edit', edit_admin_list_bulletin_path(@list, bulletin) %></td>
        <td><%= link_to 'Destroy', admin_list_bulletin_path(@list, bulletin), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bulletin', new_admin_list_bulletin_path %>
