<div class='post'>
	<div class='post-arrows'>
		<a href='<%=home_post_path(@post_prev.bulletin.list.title, @post_prev.bulletin.title, @post_prev.id)%>'>
			<%= image_tag 'arrow_left.png', class: 'arrow-left' %>
		</a>
		<a href='<%=home_post_path(@post_next.bulletin.list.title, @post_next.bulletin.title, @post_next.id)%>'>
			<%= image_tag 'arrow_right.png', class: 'arrow-right' %>
		</a>
	</div>
	<% @pictures.each do |p| %>
		<%= image_tag p.avatar_url %>
	<% end %>

	<% @videos.each do |v| %>
		<iframe src="<%= v.video_url %>" width="720" height="405" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen scrolling="no"></iframe>
	<% end %>

	<div class='post_detail'>
		<div class='post_detail_titles'>
			<div class='post_detail_title'>
				<%= @post.title %>
			</div>
			<% unless @post.title_kr.blank? %>
				<div class='post_detail_title_kr'>
					<%= "/ #{@post.title_kr}" %>
				</div>
			<% end %>
		</div>
		<% unless @post.description.blank? && @post.description_kr.blank? %>
		<div class='post_detail_descs'>
			<% unless @post.description.blank? %>
			<div class='post_detail_desc'>
				<%= @post.description %>
			</div>
			<% end %>
			<% unless @post.description_kr.blank? %>
				<div class='post_detail_desc_kr'>
					<%= "/ #{@post.description_kr}" %>
				</div>
			<% end %>
		</div>
		<% end %>
		<% unless @post.content.blank? && @post.content_kr.blank? %>
			<div class='post_detail_contents'>
				<% unless @post.content.blank? %>
				<div class='post_detail_content'><%= @post.content %></div>
				<% end %>
				<% unless @post.content_kr.blank? %>
					<div class='post_detail_content_kr', style="<%= 'margin-top: 20px;' unless @post.content.blank? %>"><%= @post.content_kr %></div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>

<script>
$(document).ready(function () {
	<% unless @post.bulletin.no_show == true %>
		var selected_menu = $("#b<%= @post.bulletin.id %>");
	<% else %>
		var selected_menu = $("#l<%= @post.bulletin.list.id %>");
	<% end %>
	selected_menu.addClass('nav-active');
})

function goPrev() {

}

function goNext() {
}
</script>
