<div class='post'>
	<% @pictures.each do |p| %>
		<%= image_tag p.avatar_url %>
	<% end %>

	<% @videos.each do |v| %>
		<iframe width="720" height="405" src="<%= v.video_url %>" frameborder="0" allowfullscreen></iframe>
		<div style='height:11px;'></div>
	<% end %>

	<div class='post_detail'>
		<div class='post_detail_title'>
			<%= @post.title %>
		</div>
		<div class='post_detail_desc'>
			<%= @post.description %>
		</div>
		<div class='post_detail_content'>
			<%= simple_format(@post.content) %>
		</div>
	</div>
</div>

<script>
$(document).ready(function () {
	var selected_menu = $("#b<%= @post.bulletin.id %>");
	selected_menu.addClass('nav-active');
})
</script>
