<div class='post'>
	<% @pictures.each do |p| %>
		<%= image_tag p.avatar_url %>
	<% end %>

	<% @videos.each do |v| %>
		<iframe src="<%= v.video_url %>" width="720" height="405" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen scrolling="yes"></iframe>
	<% end %>

	<div class='post_detail'>
		<div class='post_detail_titles'>
			<div class='post_detail_title'>
				<%= @post.title %>
			</div>
			<% unless @post.title_kr.blank? %>
				<div class='post_detail_title_kr'>
					<%= "/ #{@post.title_kr}" %>
				</div>
			<% end %>
		</div>
		<div class='post_detail_descs'>
			<div class='post_detail_desc'>
				<%= @post.description %>
			</div>
			<% unless @post.description_kr.blank? %>
				<div class='post_detail_desc_kr'>
					<%= "/ #{@post.description_kr}" %>
				</div>
			<% end %>
		</div>
		<div class='post_detail_contents'>
			<div class='post_detail_content'><%= @post.content %></div>
			<% unless @post.content_kr.blank? %>
				<div class='post_detail_content_kr', style="<%= 'margin-top: 20px;' unless @post.content.blank? %>"><%= @post.content_kr %></div>
			<% end %>
		</div>
	</div>
</div>

<script>
$(document).ready(function () {
	var selected_menu = $("#b<%= @post.bulletin.id %>");
	selected_menu.addClass('nav-active');
})
</script>
