<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Pictures:</strong>
<% @post_attachments.each do |p| %>
  <%= image_tag p.avatar_url %>
  <%= link_to "Destroy This Post Attachment", admin_post_attachment_path(p), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</p>

<p>
  <strong>Videos:</strong>
  <% @post.videos do |v| %>
    <%= v.video_url %>
  <% end %>
</p>

<%= link_to 'Edit', edit_admin_list_bulletin_post_path(@list, @bulletin, @post) %> |
<%= link_to 'Back', admin_list_bulletin_posts_path %>
