<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @video.post_id %>
</p>

<p>
  <strong>Video url:</strong>
  <%= @video.video_url %>
</p>

<%= link_to 'Edit', edit_admin_video_path(@video) %> |
<%= link_to 'Back', admin_videos_path %>
