<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @video.post_id %>
</p>

<p>
  <strong>Video url:</strong>
  <%= @video.video_url %>
</p>

<%= link_to 'Edit', edit_admin_list_bulletin_post_video_path(@list, @bulletin, @post, @video) %> |
<%= link_to 'Back', admin_list_bulletin_post_videos_path %>
