<!DOCTYPE html>
<html>
<head>
  <title>LEEHAEYOUNG ADMIN</title>
  <%= favicon_link_tag 'lhy-favicon.ico' %>
  <%= stylesheet_link_tag    'admin.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class='navigation'>
    <%= link_to image_tag('logo.png', class: 'logo'), admin_path %>

    <ul class='navigation-ul'>
      <% List.all.each do |list| %>
        <li class='list_title' id="l<%=list.id%>"><%= link_to list.title, admin_list_bulletins_path(list.id) %></li>
        <ul>
          <% list.bulletins.each do |bulletin| %>
            <li class='bulletin_title' id="b<%=bulletin.id%>"><%= link_to bulletin.title, admin_list_bulletin_posts_path(list.id, bulletin.id) %></li>
          <% end %>
        </ul>
      <% end %>
    </ul>
  </div>

  <div class='section'>
    <%= yield %>
  </div>
</body>
</html>
