<!DOCTYPE html>
<html>
<head>
  <title>LEEHAEYOUNG</title>
  <%= favicon_link_tag 'lhy-favicon.ico' %>
  <%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width" />
</head>
<body>

  <div class='navigation'>
    <%= image_tag 'menu.png', id: 'open-menu', class: 'open-menu' %>
    <%= image_tag 'go_to_top.png', id: 'go-to-top', class: 'go-to-top' %>

    <%= link_to image_tag('logo.png', class: 'logo'), root_path %>

    <ul class='navigation-ul'>
      <li class='list_title' id="about"><%= link_to 'About', home_about_path %></li>
      <% List.all.each do |list| %>
        <li class='list_title' id="l<%=list.id%>"><%= link_to list.title, home_list_path(list.title) %></li>
        <ul>
          <% list.bulletins.each do |bulletin| %>
            <li class='bulletin_title' id="b<%=bulletin.id%>"><%= link_to bulletin.title, home_bulletin_path(bulletin.title) %></li>
          <% end %>
        </ul>
      <% end %>
      <%= link_to image_tag('logo-insta.png', class: 'insta-logo'), "https://www.instagram.com/leehaeyoung1730/", target: '_blank' %>
    </ul>
  </div>

  <div class="section <%= 'section-random' if @is_random == true %>">
    <%= yield %>

    <div class='footer'>
      All rights reserved © LEEHAEYOUNG
    </div>
  </div>

</body>

<script>
$(document).ready(function(){
  $("#open-menu").click(function(event) {

    if($(".navigation-ul").is(':visible')) {
      $(".navigation-ul").hide();
    }
    else {
      $(".navigation-ul").show();
    }
  });

  $("#go-to-top").click(function(event) {
    $("body").animate({ scrollTop: 0 }, "fast");
  });
});

</script>
</html>
